:root{
    --main-color: black;
    --secondary-color: #D0C8D2;
    --tertiary-color: #806985;
}

body{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-family: mainFont, sans-serif;
}


#mainContainer{
    background-color: var(--main-color);
    width: min(1100px, 100%);/* change to allow wrapping when window resized */
    height: 50rem;
    margin: auto;
    display: flex;
    /*flex-flow: row wrap;*/
    overflow:hidden; 
}

#mainImage{
    
    max-width:35em;
    
}

#imgContainer{
    position:relative;
    font-family: headerFont, sans-serif;
}

.imgHeader {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 28rem;
    text-align: center;
    font-size: 4.2em;
    height: 15%;
    padding: 0.5em 0em 0em 0em;
}

@font-face {
    font-family: headerFont;
    src: url(fonts/headerFont.otf);
}

@font-face {
    font-family: mainFont;
    src: url(fonts/mainFont.otf);
}